{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }} - Home
{% endblock %}

{% block body %}

{# Carousel #}
<div id="carouselExampleCaptions" class="carousel slide relative" data-bs-ride="carousel">
  {% set randomIndex = random(0, data.results|length - 1) %}
  	{% for latest in data.results|slice(randomIndex, 1) %}
    <div class="carousel-inner relative w-full overflow-hidden">
      <div class="carousel-item active relative float-left w-full">
      <img
        src=https://image.tmdb.org/t/p/original{{ latest.backdrop_path }}
        class="block w-full"
        alt=" image-movie"
      />
      <div class="carousel-caption hidden md:block absolute text-center">
        <h5 class="text-xl">{{latest.title}}</h5>
        <p>{{latest.overview}}</p>
      </div>
	  {% endfor %}
    </div>
   
</div>

{# Section last movies #}

<div class="container my-24 px-6 mx-auto">
  <section class="mb-32 text-gray-800">

    <h2 class="text-3xl font-bold mb-12 text-center">Top Rated Movies</h2>

    <div class="grid lg:grid-cols-3 gap-6">
{% for latest in data.results|slice(0, 6) %}
      <div class="relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-lg"
        style="background-position: 50%;" data-mdb-ripple="true" data-mdb-ripple-color="light">
        <img src=https://image.tmdb.org/t/p/original{{ latest.backdrop_path }} class="w-full" />
        <a href="#!">
          <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
            style="background-color: rgba(0, 0, 0, 0.4)">
            <div class="flex justify-start items-end h-full">
              <div class="text-white m-6">
                <h5 class="font-bold text-lg mb-3">{{latest.title}}</h5>
                <p>
                  <small>Published <u>{{ latest.release_date }} </u></small>
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
  {% endfor %}

      

  </section>
</div>
 
{% endblock %}