{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }} - Movies
{% endblock %}

{% block body %}
<div class="grid grid-cols-6 gap-6 px-5 items-list md:max-xl:flex">
    
  {% for  movie in data.results %}
      <div class="bg-white mt-8 ml-4 rounded-md bg-gray-800 shadow-lg">
        <div class="flex flex-col space-between">
          <div class="mx-auto ">
           <img
            src=https://image.tmdb.org/t/p/original{{ movie.poster_path }}
            alt="pic"
            class="h-72 w-50 rounded-md shadow-2xl transform -translate-y-4 border-4 border-gray-300 shadow-lg"/>           
          </div>
          <div class=" text-gray-300">
            <p class="ml-2 pt-4 text-2md font-bold">{{movie.title}}</p>

            <p class="hidden md:block ml-2 my-4 text-sm truncate line-clamp-2 ">{{movie.overview}}</p>
            <p class="flex text-md px-2 ">Rating : {{movie.vote_average}}</p>
            
            <div class="text-xs flex justify-center mt-2">
            <a href="/details/{{movie.id}}"> 
                <button type="button" class="border border-gray-400 text-gray-400 rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-white focus:outline-none focus:shadow-outline">More</button>
            </a> 
            </div>
          </div>
        </div>       
      </div>
    {% endfor %}
    
    </div>
{% endblock %}